body {
  background-color: #111;
  color: #fafafa;
}

.light-nav {
  background-color: #e3f2fd;
}

.card-bg {
  background-color: #1a1c1e;
}

.border-light,
.modal * {
  border-color: #777 !important;
}

.bg-dark {
  background-color: #1a1c1e;
}

.modal {
  background-color: rgba(61, 61, 61, 0.5);
}
